@model Inzynierka.Models.ApplicationUsers.ApplicationUser

<h2>Profil użytkownika</h2>

@*@foreach(var userProfile in Model)
{
<div>
    <p>@userProfile.FirstName</p>
    <p>@userProfile.LastName</p>
    <p>@userProfile.Email</p>
</div>
}*@

<div class="col-md-6 card card-body bg-light">
    <div style="padding:10px">
        <h4 class="d-inline">Imię i nazwisko: </h4>
        <h4 class=" d-inline font-weight-normal">@Model.FirstName @Model.LastName</h4>
    </div>
    <div style="padding:10px">
        <h4 class="d-inline">Wiek: </h4>
        <h4 class="d-inline font-weight-normal">@Model.Age</h4>
    </div>
    <div style="padding:10px">
        <h4 class="d-inline">Płeć: </h4>
        <h4 class="d-inline font-weight-normal">@Model.Gender</h4>
    </div>
    <div style="padding:10px">
        <h4 class="d-inline">O mnie: </h4>
        <h4 class="d-inline font-weight-normal">@Model.About</h4>
    </div>
</div>
@{
}
