@model Inzynierka.Models.ApplicationUsers.ApplicationUser

<p>Profil uzytkownika.</p>

@*@foreach(var userProfile in Model)
{
<div>
    <p>@userProfile.FirstName</p>
    <p>@userProfile.LastName</p>
    <p>@userProfile.Email</p>
</div>
}*@
<div>
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
    <p>@Model.Email</p>
</div>
@{
}
