@model Inzynierka.ViewModels.TripAdvertsViewModel

<link href="~/css/TravelCompanionStyle.css" />
<div class="row">
<div class="col-md-8">
    <h2>@Model.PageTitle</h2>
    @foreach (var tripAdvert in Model.TripAdverts)
    {<div style="margin-bottom:5%">
            <div class="card card-body backgroundGrayColor ">
                <div>
                    <h4 class="d-inline font-weight-bold ">@tripAdvert.Title</h4>
                    <p class="d-inline float-right font-weight-light">@tripAdvert.AdvertDate</p>

                </div>
                <div>
                    <h5 class=" d-inline font-weight-normal"> Kraj: @tripAdvert.Country</h5>
                    @*<a asp-controller="UserProfile" asp-action="Index" asp-route="" class="d-inline float-right font-weight-normal">@tripAdvert.UserEmail</a>*@





                    @if (!String.IsNullOrEmpty(tripAdvert.UserEmail))
                    {
                        @Html.ActionLink(tripAdvert.UserEmail, "OtherUserProfile", "UserProfile", new { id = tripAdvert.UserEmail }, new { @class = "if-inline float-right font-weight-normal" })
                    }
                    


                </div>
                <p class=" font-weight-normal">@tripAdvert.Content</p>


            </div>
        </div>
    }
</div>
<div class="col-md-4">
    <a class="twitter-timeline" data-height="800" href="https://twitter.com/Travel34851312/lists/podr-uj">Tweety związane z podróżami.</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>




