@model IEnumerable<Inzynierka.Models.TripAdverts.TripAdvert>

<div class="row">
    <div class="col-md-8">
        <form method="post" asp-controller="TripAdvert" asp-action="SearchTripAdverts">
            <h2 style="margin-bottom:2%">Wyszukaj ogłoszenie</h2>
            <div class="input-group" style="margin-bottom:2%">
                <input class="form-control" name="search" id="search" placeholder="Wpisz interesujący Cię kraj" type="text" />
                <div class="input-group-append">
                    <button type="submit" value="Search" class="btn btn-default">Szukaj</button>
                </div>
            </div>
        </form>

        @if (Model.Any())
        {
            @foreach (var tripAdvert in Model)
            {<div style="margin-bottom:4%">
                    <div class="card card-body backgroundGrayColor ">
                        <div style="margin-bottom:1%">
                            <h4 class="d-inline font-weight-bold ">@tripAdvert.Title</h4>
                            <p class="d-inline float-right font-weight-light">@tripAdvert.AdvertDate</p>
                        </div>
                        <div style="margin-bottom:1%">
                            <h5 class=" d-inline font-weight-normal"> Kraj: @tripAdvert.Country</h5>
                            @if (!String.IsNullOrEmpty(tripAdvert.UserEmail))
                            {
                                @Html.ActionLink(tripAdvert.UserEmail, "OtherUserProfile", "UserProfile",
                               new { id = tripAdvert.UserEmail },
                               new { @class = "if-inline float-right font-weight-normal" })
                            }
                        </div>
                        <p class=" font-weight-normal">@tripAdvert.Content</p>
                    </div>
                </div>
            }
        }
        else
        {
            <h5 style="text-align:center">Brak wyników</h5>
        }

    </div>
 </div>